{% %}
<form name="f1" action="" method="post">
    <p>
        <a href="/home">home</a><br>
        <a href="/view_profile">Profile</a><br>
        <a href="/view_med">Medicines</a><br>
        <a href="/view_cart">Cart</a><br>
        <a href="/send_complaint">Complaint</a><br>
        <a href="/view_reply">Replies</a><br>
        <a href="/login">Log Out</a>


</p>
    <div>
        <img src="/static/ad_inner/assets/img/img.jfif" width="100%" height="100%" >
    </div>


</form>

</body>
</html>