
<html lang="en">
<head>
	<title>Doctor's Pharma</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/login_index/assets/images/icons/pharmalogo.jpeg"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_index/assets/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_index/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_index/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_index/assets/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/login_index/assets/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_index/assets/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_index/assets/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/login_index/assets/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login_index/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/login_index/assets/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/static/login_index/assets/images/bg.jfif);">
					<span class="login100-form-title-1">
						Sign Up here
					</span>
				</div>

				<form class="login100-form validate-form" action="/signup_post" method="post" enctype="multipart/form-data" >
					<div class="wrap-input100 validate-input m-b-26" data-validate="photo is required">
						<span class="label-input100">Photo</span>
						<input class="input100" type="file" name="filefield">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="n1" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Email is required">
						<span class="label-input100">Email</span>
						<input class="input100" type="email" name="n2" placeholder="Enter email">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-26" data-validate="Phone is required">
						<span class="label-input100">Phone</span>
						<input class="input100" type="text" name="n3" placeholder="[9876]{1}[0-9]{9}" maxlength="10" pattern="[9876]{1}[0-9]{9}">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-26" data-validate="DOB is required">
						<span class="label-input100">Age</span>
						<input class="input100" type="text" name="n4" placeholder="Enter DOB">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Gender</span>
						<input type="radio" name="n5" value="Male">Male<br>
						<input type="radio" name="n5" value="Female">Female
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-26" data-validate="Place is required">
						<span class="label-input100">Place</span>
						<input class="input100" type="text" name="n6" placeholder="Enter Place">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-26" data-validate="Post is required">
						<span class="label-input100">Post</span>
						<input class="input100" type="text" name="n7" placeholder="Enter Post">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-26" data-validate="District is required">
						<span class="label-input100">District</span>
						<input class="input100" type="text" name="n8" placeholder="Enter District">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-26" data-validate="Pincode is required">
						<span class="label-input100">Pincode</span>
						<input class="input100" type="text" name="n9" placeholder="Enter Pincode" maxlength="6">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-26" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="text" name="n10" placeholder="Enter Password" maxlength="8">
						<span class="focus-input100"></span>
					</div><div class="wrap-input100 validate-input m-b-26" data-validate="Field is required">
						<span class="label-input100">Confirm</span>
						<input class="input100" type="text" name="n11" placeholder="Re-enter password" maxlength="8">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn" align="center">
						<button class="login100-form-btn">
							Sign Up
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="/static/login_index/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/login_index/assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/login_index/assets/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/login_index/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/login_index/assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/login_index/assets/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/login_index/assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/login_index/assets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/login_index/assets/js/main.js"></script>

</body>
</html>