{% extends "user/inner-page.html"%}
{% block body %}
<form name="f1" method="post" action="" enctype="multipart/form-data">
    <table class="table table-borderless">
        <tr>
            <td colspan="2" align="center"><img src="{{ data['photo'] }}" width="200px" height="200px"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ data['user_name'] }}</td>
        </tr>
        <tr>
            <td>DOB</td>
            <td>{{ data['dob'] }}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{ data['gender'] }}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{ data['email'] }}
                <br>{{ data['phone'] }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ data['place'] }}
                <br>{{ data['post'] }}
                <br>{{ data['district'] }}
                <br>{{ data['pin'] }}</td>
        </tr>
        <tr>
            <td colspan="2" align="center"><a href="/edit_profile/{{ data['login_id'] }}" class="btn btn-outline-success">Edit</a></td>
        </tr>
    </table>
</form>
{% endblock %}