{% extends "Admin/inner-page.html"%}
{% block body %}
<section>
  <div>

<form id="form1" name="form1" method="post" action="/changePassword_post">
  <h2>Change Password</h2>
<table class="table table-striped">
  <tr>
    <th>Current Password </th>
    <td>
      <input type="password" name="textfield" class="form-control"/>
  </td>
  </tr>
  <tr>
    <th>New Password </th>
    <td>
      <input type="password" name="textfield2" class="form-control"/>
   </td>
  </tr>
  <tr>
    <th>Confirm Password </th>
    <td>
      <input type="password" name="textfield3" class="form-control"/>

    </td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="Submit" value="SUBMIT" class="btn btn-outline-success" /></td>
  </tr>
</table>

</form>
  </div>
</section>

{%endblock %}
