{% extends "Dealer/inner-page.html" %}
{% block body %}
        <form name="f1" method="post" action="">
   <div>
        <img src="/static/ad_inner/assets/img/img.jfif" width="100%" height="100%" >
    </div>
<!--    <p><a href="/dealer_home">Home</a> </p>-->
<!--    <p><a href="/dealer_changePassword">Change password</a> </p>-->
<!--    <p><a href="/dealer_addmedicines">Add Medicines</a> </p>-->
<!--    <p><a href="/dealer_viewmedicines">View Medicines</a> </p>-->
<!--    <p><a href="/dealer_view_order_and_payment_details">order</a> </p>-->
</form>

{% endblock %}